

.clk{
    cursor: hand;
    cursor: pointer;
}

.clk-trans{
    opacity: 0.7;
}

.clk-trans:hover{
    opacity: 1;
}

.clk:hover .clk-blue{
    background-color: #8fc4d8;
}

.clk-blue:hover{
    background-color: #8fc4d8;
}